    </main>
    <footer class="w-full bg-gray-200 p-3 text-gray-700 font-black uppercase tracking-wide text-right mt-auto">
      <a href="https://github.com/bmilcs/odin-mini-message-board" class="hover:text-blue-500 hover:underline p-2">created by bmilcs</a>
    </footer>

  </body>
</html>