<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Mini Message Board [bmilcs]</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex min-h-screen flex-col bg-gray-100 text-gray-800">
    <header
      class="w-full bg-blue-700 p-3 text-2xl font-black uppercase tracking-wide text-gray-50"
    >
      mini message board
    </header>
    <main class="flex min-h-full flex-1 p-3">
