<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Add Message</h1>
    <form method="POST" action="/new">
      <label for="user">User</label>
      <input type="text" name="user" id="user" />
      <label for="message">Message</label>
      <textarea
        type="text"
        name="message"
        id="message"
        cols="30"
        rows="5"
      ></textarea>
      <input type="submit" value="Add Message" />
    </form>
    <a href="/"><button>Return Home</button></a>
  </body>
</html>
